/*********************************************************************************

	Template Name: Boighor Bookshop Responsive Bootstrap4 Template  
	Description: Template description
	Version: 1.0
	Note: This is custom css. All custom styles (user styles) declare here.

**********************************************************************************/

.no-search-jobs-list{
    font-size: 17px;
    text-align: center;
}
.miniproduct{
    overflow-y: scroll;
    max-height: 300px;
}

.is-sticky.header__area .header__sidebar__right > li.customer_login > a,
.oth-page.header__area .header__sidebar__right > li.customer_login > a{
    color: #ffffff;
}

.account__form .input__box input.is-invalid, .product__info__detailed .review-fieldset .review_form_field .input__box input.is-invalid,
.product__info__detailed .review-fieldset .review_form_field .input__box textarea.is-invalid{
    outline: none;
    border: 1px solid #ff1100 !important;
}
.account__form .input__box.has-error input{
    outline: none;
    border: 1px solid #ff1100;
}
.account__form .input__box.has-error input.valid{
    outline: none;
    border: 1px solid #ff1100;
}
.invalid-feedback, .help-block {
    display: block !important;
    margin-top: .25rem;
    font-size: 0.7rem;
    color: #dc3545 !important;
}
.product__info__detailed .review-fieldset .review_form_field .input__box span.invalid-feedback::after {
    content: "" !important;
}
.error-message{
    display: none;
}

.blog-details .comment_respond .comment__form .submite__btn button {
    background: #e59285 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 30px 8px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    border: 0;
    height: 40px;
}

.comments_area{
    overflow-y: scroll;
    max-height: 500px;
}
.set-boarder-color{
    border-color: #e59285 !important;
}
.wedget__categories.poroduct--cat ul li{
    cursor: pointer;
}
.wedget__categories.poroduct--cat ul li.set-border-bottom{
    border-bottom: none;
    font-weight: 700;
}
.wedget__categories.poroduct--cat ul li span.count{
   float: right;
}
.set-icon{
    margin-top: 14px;
    font-size: 18px;
    margin-right: 5px;
}
.wedget__categories.poroduct--cat ul > li > ul{
    margin-left: 10px !important;
    display: none;
}
.wedget__categories.poroduct--cat ul > li > ul.open{
    margin-left: 5px;
    display: block;
}
.wedget__categories.poroduct--cat ul > li > ul > li{
    border-bottom: 1px dashed #e1e1e1;
    line-height: 35px;
    text-align: left;
    text-transform: capitalize;
}

.wedget__categories.poroduct--cat ul > li > a.active {
    color: #e59285 !important;
}

.btn_profile, .btn_checkout{
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.4s;
    border: none;
}
.btn_profile:hover, .btn_checkout:hover {
    background: #e59285 none repeat scroll 0 0;
    color: #fff;
}

.input_box.has-error input{
    outline: none;
    border: 1px solid #ff1100 !important;
}
.input_box.has-error input.valid{
    outline: none;
    border: 1px solid #ff1100 !important;
}
.text-status{
    text-shadow: none!important;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 3px;
    border-radius: 5px;
    color: #fff;
}

.text-status-info{
    background-color: #659be0;
}
.contact-form-wrap .single-contact-form input.error-input,
.contact-form-wrap .single-contact-form textarea.error-input{
    border-color: #ff1100 !important;
}
.contact-form-wrap .single-contact-form {
    margin: 0 0 10px !important;
}

.author-image{
    width: 150px;
}
.author-image img{
    max-width: 66% !important;
}

@media only screen and (max-width: 576px){
    .author-image{
        width: 150px;
    }
    .author-image img{
        max-width: 100% !important;
    }
    .author-text{
        text-align: center;
    }

}
.label{
    padding: 5px;
    border-radius: 5px;
    color: black;
}
.label-primary {
    background-color: #337ab7;
}
.label-warning {
    background-color: #F1C40F;
}
.label-green {
    background-color: #28a745;
}
.label-orange {
    background-color: #fd7e14;
}
.label-purple {
    background-color: #6f42c1;
}
.label-success {
    background-color: #36c6d3;
}
.label-danger {
    background-color: #ed6b75;
}
