body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
}
.login{
    background-color: #364150!important;
}
.login .logo-content{
    width: 400px;
    margin: 40px auto 0px;
    padding: 0px 0px 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.login .content{
    background-color: #fff;
    width: 400px;
    margin: 20px auto 10px;
    padding: 10px 30px 30px;
    overflow: hidden;
    position: relative;
}

.login .content .form-control {
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
    border-radius: 0px !important;
}

.uppercase {
    text-transform: uppercase!important;
}
.login .content .form-title{
    color: #32c5d2;
    text-align: center;
    font-size: 28px;
    font-weight: 400!important;
}

.login .content .form-actions .btn {
    margin-top: 1px;
    font-weight: 600;
    padding: 10px 20px!important;
    border-radius: 0px !important;
}
.default-btn, .default-btn:hover{
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}
.login .content .form-control.is-invalid{
    border: 2px solid #fd071e !important;
}
@media (max-width:440px){
    .login .content{
        width:280px
    }
    .login .logo-content{
        width:280px
    }
}

.login .content .form-actions {
    clear: both;
    border: 0;
    padding: 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.login .content .rememberme {
    margin-left: 8px;
}

.login .content .check {
    color: #8290a3;
}
label {
    font-weight: 400;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
}
.check-box {
     display: inline-block;
     position: relative;
     padding-left: 30px;
     margin-bottom: 15px;
     cursor: pointer;
     font-size: 14px;
     webkit-transition: all .3s;
     -moz-transition: all .3s;
     -ms-transition: all .3s;
     -o-transition: all .3s;
     transition: all .3s;
 }

.check-box  input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkmark{
    border: 1px solid transparent;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #E6E6E6;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark, .checkmark:after {
    border: 1px solid #d9d9d9;
    background: 0 0;
}
.check-box input:checked ~ .checkmark:after {
    display: block;
}

.check-box span:after{
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #888;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.alert-danger {
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a !important;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error.checkbox-inline label, .has-error.checkbox label, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.radio-inline label, .has-error.radio label {
    color: #f00d08 !important;
}

.page-header-fixed .page-container {
     margin-top: 0px !important;
}
.auto-search-name, .auto-search-email{
    z-index: 999;
}

.auto-search-name .keyword-list, .auto-search-email .keyword-list{
    padding: 0;
    list-style: none;
    border: 1px solid darkgray;
    position: fixed;
    z-index: 1;
}
.auto-search-name .keyword-list li, .auto-search-email .keyword-list li{
    padding: 7px;
    cursor: pointer;
}
.auto-search-name .keyword-list li:hover, .auto-search-email .keyword-list li:hover{
    padding: 7px;
    background-color: #31008040;
    cursor: pointer;
}
@media (min-width: 992px) {
    .page-header-fixed .page-container {
        margin-top: 50px !important;
    }
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #fd071e;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #fd071e;
}

.swing-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: transparent;
    z-index: 999999;
}

.swing-preloader .in-preload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sk-rotating-plane {
    width: 40px;
    height: 40px;
    background-color: #755cd7;
    margin: 40px auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

.rating-stars{
    list-style: none;
    display: inline-flex !important;
}
.rating-stars li{
    color: #e59285;
    display: inline-block;
}
.overall li{
    color: #fe0707 !important;
}
.overall span{
    font-weight: 700;
}
.unread{
    background-color: #e9f2fe;
}

@-webkit-keyframes sk-rotatePlane {
    0% {
        background-color: #5cb5d7;
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    50% {
        background-color: #5cd7aa;
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
    100% {
        background-color: #bed75c;
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
    0% {
        background-color: #bed75c;
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    50% {
        background-color: #5cd7aa;
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
    100% {
        background-color: #5cb5d7;
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }


.image-upload-block{
    margin-top: 20px;
}
.margin{
    margin-right: 1px !important;
    margin-top: 1px !important;
    display: inline-block;
}
.li-images{
    width: 40%;
}
@media only screen and (min-width: 1930px){

}

@media only screen and (min-width: 1200px){
}

@media only screen and (max-width: 991px){
    .weight{
        font-weight: 700;
    }
}

@media only screen and (max-width: 767px){
    .weight{
        font-weight: 700;
    }
}

@media only screen and (max-width: 479px){
    .margin{
        margin-bottom: 1px !important;
        display: block;
    }
    .weight{
        font-weight: 700;
    }
    .error-code{
        font-size: 17px;
        text-align: center;
        color: red;
    }
    .error-code-message{
        position: relative;
        text-align: center;
        font-size: 69px;
    }
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}

.order-table-header,.order-table-footer{
    background-color: #a5caf8;
    font-weight: 700;
}

.label-orange{
    background-color: #fd7e14;
}
.label-purple{
    background-color: #6f42c1;
}
.label-green{
    background-color: #28a745;
}
.error-code{
    position: relative;
    text-align: center;
    font-size: 171px;
}
.error-code-message{
    font-size: 23px;
    text-align: center;
    color: red;
}

.table-header{
    text-align: center;
    background-color: #ff1100;
}
.table-hover>tbody>tr.new-message:hover, .table-hover>tbody>tr.new-message:hover>td{
    background-color: #cfefe4 !important;
}
.new-message, .new-message:hover{
    background-color: #cfefe4 !important;
}
